/*https://webdesign.tutsplus.com/color-schemes-with-css-variables-and-javascript--cms-36989t*/
:root, :root.modernLight {
    --ui-background: white;
    --ui-background-transparent: #ffffff80;
    --ui-text: black;
    --ui-link: #00f;
    --ui-input-background: #fff;
    --ui-button-background: #efefef;
    --ui-input: #e9e9ed;
    --ui-input-hover: #d2d2d5;
    --ui-hilight: #61a6ff;
    --ui-hilight-transparent: #61a6ff85;
    --ui-special: #6eb84c;
    --ui-special-transparent: #8bff6185;
    --ui-info-transparent: #0009;
}

:root.modernDark {
    --ui-background: #141414;
    --ui-background-transparent: #17171780;
    --ui-text: #e0e0e0;
    --ui-link: #61a6ff;
    --ui-input: #8f8f8f;
    --ui-input-background: #525252;
    --ui-button-background: #252525;
    --ui-input-hover:  #454444;
    --ui-hilight: #61a6ff;
    --ui-hilight-transparent: #61a6ff85;
    --ui-special: #6eb84c;
    --ui-special-transparent: #8bff6185;
    --ui-info-transparent: #a3a3a399;
    --icon-filter: invert(0.85);
}

body {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: var(--ui-text);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: bold;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

body {
    transition: background-color 0.3s;
    background-color: #333;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 150%;
}

select,
input:not([type]),
input[type="email"],
input[type="number"],
input[type="text"] {
    padding: 12px;
    border-radius: 4px;
    outline: 0;
    background: var(--ui-input-background);
    border: 1px solid var(--ui-input);
    transition: border 0.1s;
    color: var(--ui-text);
}

input:not([type]):focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="text"]:focus {
    border: 1px solid var(--ui-hilight);
}

input[type="email"]:invalid {
    border: 1px solid red;
}

input[type="button"] {
    border: none;
    padding: 12px;
    border-radius: 4px;
    transition: background-color 0.1s;
    color: var(--ui-text);
    background-color: var(--ui-button-background);
}

input[type="button"]:hover {
    background-color: var(--ui-input-hover);
}

a {
    color: var(--ui-link);
}

.novisit:visited {
    color: var(--ui-link);;
}

.icon-symbolic {
    filter: var(--icon-filter);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(16px);
    height: 200px;
    z-index: 1;
}

.hud {
    z-index: 2;
    position: absolute;
    background-color: var(--ui-background);
    display: flex;
    box-shadow: 0 0 4px #000;
    width: 140px;
    height: 60px;
    user-select: none;
    overflow: hidden;
}

.hud>p {
    align-self: center;
    text-align: center;
    font-size: 18px;
    flex-grow: 1;
}

.game-actions {
    right: 0;
    top: 0;
    border-radius: 0 0 0 8px;
    width: min(60%, 300px);
}

.game-actions>p {
    flex-grow: 1;
    text-align: center;
    align-self: center;
    margin: 0;
    padding-top: 19px;
    padding-bottom: 19px;
    transition:
        background-color 0.1s,
        border 0.1s;
}

.game-actions>p:hover {
    background-color: var(--ui-input-hover);
}

.menu {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--ui-background);
    box-shadow: 0 0 16px #000;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    user-select: none;
}

.menu>* {
    align-self: center;
}

.main-menu {
    background-color: var(--ui-background);
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: .2s background-color;
}

.main-menu-page {
    display: none;
    flex-direction: column;
    row-gap: 8px;
}

.main-menu .branding {
    display: flex;
    align-items: center;
    column-gap: 8px;
    position: absolute;
}

.main-menu .header-nav {
    text-align: center;
    white-space: nowrap;
}

.main-menu nav {
    position: absolute;
}

.main-menu>div {
    display: flex;
    flex-direction: column;
}

.main-menu>div>* {
    align-self: center;
}

.main-menu-field {
    width: 40%;
}

.page-link {
    transition:
        0.2s padding,
        0.2s background-color;
}

.page-link-current {
    display: initial;
    transform: translateX(-50%);
    background: var(--ui-hilight-transparent);
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 2px;
    text-decoration: none;
}

.main-menu-page-content {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: center;
    width: 100%;
}

.form-frame {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: min(400px, calc(100% - 16px));
    border: 1px solid #d3d3d3;
    padding: 16px;
    border-radius: 4px;
}

.form-frame[data-disabled]>* {
    pointer-events: none;
    opacity: 0.8;
}

.side-panel {
    position: absolute;
    left: 0;
    height: 100%;
    width: min(360px, 100%);
    background: var(--ui-background);
    z-index: 2;
    padding: 16px;
    box-sizing: border-box;
    box-shadow: 0 0 12px #000;
    display: flex;
    flex-direction: column;
    transition: 0.2s transform;
}

.side-panel[data-closed] {
    transform: translateX(-100%);
    box-shadow: none;
}

.spawn-menu {
    background-color: var(--ui-background-transparent);
    width: min(calc(100% - 28px), 500px);
    top: 25%;
}

.dual-options {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    width: 100%;
}

.dual-options>* {
    flex-grow: 1;
    border: 2px solid transparent;
    transition: border 0.1s;
}

.dual-options>[selected] {
    border: 2px solid var(--ui-hilight);
}

.black-white {
    height: 60px;
    border-radius: 8px;
    text-align: center;
    line-height: 60px;
    box-shadow: 0 0 2px #000;
    position: relative;
    z-index: 0;
}

.black-white>div {
    position: absolute;
    height: calc(100% + 4px);
    top: -2px;
    left: -2px;
    background-color: var(--ui-hilight-transparent);
    border-radius: 8px;
    z-index: -1;
    width: 0%;
    transition: 0.2s width;
    pointer-events: none;
}

.info-panel {
    z-index: 2;
    position: absolute;
    width: 256px;
    color: #fff;
    padding: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.info-panel * {
    margin: 0;
}

.copyright-notice {
    position: absolute;
    pointer-events: none;
    top: 50%;
    text-align: center;
    width: 100%;
    font-size: x-small;
    color: #a9a9a9;
    user-select: none;
}

#gamemodesPanel {
    background-color: var(--ui-info-transparent);
    border-radius: 8px;
    padding: 8px;
    top: 68px;
    position: absolute;
    height: auto;
    left: 8px;
    opacity: 1;
    row-gap: 8px;
    transition:
        0.2s left,
        0.2s opacity;
}

#gamemodesPanel[data-closed] {
    left: -272px;
    opacity: 0;
}

#gamemodeTitle {
    border-radius: 0 0 8px;
    transition:
        0.2s box-shadow,
        0.2s transform;
    cursor: pointer;
}

#gamemodeTitle:hover {
    box-shadow: 0 0 8px 4px var(--ui-hilight);
    background-color: var(--ui-input-hover);
}

#deathMenu {
    transition: 0.2s transform ease-out;
    transition-delay: 0.2s;
}

#deathMenu[data-closed] {
    transform: translate(-50%, -50%) scale(0);
    pointer-events: none;
    visibility: hidden;
}

#chatPanel,
#settingsPanel {
    top: 68px;
    right: 8px;
    background: var(--ui-info-transparent);
    width: 340px;
    row-gap: 4px;
    transition:
        0.2s right,
        0.2s opacity;
}

#chatPanel {
    min-height: 172px;
}

#chatPanel[data-closed],
#settingsPanel[data-closed] {
    right: -340px;
    opacity: 0;
}

#chatPanel>div {
    flex-grow: 1;
    overflow-y: scroll;
    max-height: 178px;
}

#chatPanel>div>p[data-spawnevent] {
    background-color: var(--ui-hilight-transparent);
    display: block;
}

#chatPanel>div>p[data-spawnevent] {
    background-color: var(--ui-special-transparent);
    display: block;
}

.chat-name-button {
    background: none;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 12pt;
    border: none;
    margin-right: 4px;
    cursor: pointer;
    border-radius: 4px;
    padding: 2px;
    transition: 0.2s background-color, 0.2s color;
}

.chat-name-button:hover, .chat-name-button:focus, .chat-name-button:active {
    text-decoration: underline;
    background-color: var(--ui-input-hover);
    color: black;
}

#turnPanel {
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    background: var(--ui-info-transparent);
    transition: 0.2s top;
}

#infoPanel {
    top: 68px;
    left: 0;
    transition: 0.2s top;
}

@media screen and (orientation: portrait) {
    #turnPanel {
        top: 68px;
    }

    #infoPanel {
        top: calc(100% - 90px);
    }
}

#turnProgress {
    position: absolute;
    height: calc(100% - 16px);
    width: 0%;
    z-index: -1;
    background: repeating-linear-gradient(-45deg, transparent, transparent 10px, #ccc 10px, #ccc 20px),
        linear-gradient(to bottom, #eee, #999);
    transition-property: width;
    transition-timing-function: linear;
}

#board {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-500px, -500px) scale(0.8);
    z-index: 2;
    width: 1000px;
    height: 1000px;
}

#meTurnPopup {
    position: absolute;
    top: 50%;
    z-index: 2;
    text-align: center;
    font-size: 10vw;
    width: 100%;
    display: none;
    transform: translateY(-50%);
    text-shadow: 2px 2px #fff;
    background: var(--ui-hilight-transparent);
    pointer-events: none;
}

#chatMessages>p {
    margin: 0;
}

.match-rules {
    box-sizing: border-box;
    line-height: 24pt;
}

.match-rules span[data-kind="keyword"] {
    font-weight: 700;
}

.match-rules span[data-layer] {
    border-radius: 8px;
    padding: 3px;
}

.match-rules span[data-layer="0"] {
    background-color: #f1f1f1;
}

.match-rules span[data-layer="1"] {
    background-color: #e7e7e7;
    margin-top: 1px;
    margin-bottom: 1px;
}

.modal[open] {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.modal {
    padding: 0;
    border: none;
    background: 0 0;
    min-width: min(calc(100% - 32px), 800px);
    min-height: min(calc(100% - 32px), 600px);
}

.modal-content {
    padding: 8px;
    background: #f1f1f1;
    border: 1px solid gray;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    overflow: hidden auto;
    max-height: 800px;
    position: relative;
}

.modal-title {
    margin: 0;
    display: flex;
    padding: 0;
    cursor: default;
}

.modal-title>div[data-selected] {
    background: #f1f1f1;
    border: 1px solid gray;
    border-bottom: none;
}

.modal-title>div {
    display: flex;
    border: 1px solid #bdbdbd;
    background: #fafafa;
    min-height: 32px;
    align-self: start;
    align-items: center;
    padding: 8px;
    border-bottom: none;
    font-weight: 700;
}

.modal-title>button {
    margin-left: auto;
    border: 1px solid gray;
    border-bottom: none;
    width: 64px;
}

#arrangementStats {
    opacity: 0.6;
    font-size: 14px;
    width: fit-content;
}

.modal-content-container {
    display: flex;
}

.arrangement-section {
    padding: 8px;
    border: 1px solid #d3d3d3;
}

.arrangement-grid {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(3, 1fr);
}

.arrangement-grid>img {
    width: 100%;
    border: 1px solid #d3d3d3;
    grid-gap: 4px;
    transition: 0.1s border;
}

.arrangement-board-container {
    position: relative;
    width: 100%;
}

.arrangement-side-label {
    position: absolute;
    z-index: 2;
    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
    opacity: 0.4;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content-side {
    display: flex;
    flex-direction: column;
    width: 312px;
    padding: 8px;
    padding-bottom: 0;
    padding-top: 0;
    row-gap: 8px;
}

.arrangement-input {
    padding: 8px !important;
    border: 1px solid #d3d3d3 !important;
    border-radius: 0 !important;
    background: #fff !important;
}

.arrangement-input:focus {
    border: 1px solid gray;
}

.arrangement-input:invalid {
    border: 1px solid red !important;
}

.arrangement-button {
    padding: 8px;
    border: 1px solid #d3d3d3;
    background: linear-gradient(to bottom, #d6d6d6, #e9e9e9);
    cursor: default;
}

.arrangement-button:hover {
    border: 1px solid gray;
}

.modal-list {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 494px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.modal-list-buttons {
    display: flex;
    column-gap: 8px;
    max-height: 42px;
}

.needs-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-content {
    width: min(80%, 1024px);
}

.profile-header {
    border: 1px solid gray;
    padding-left: 96px;
    background: linear-gradient(-45deg, #a9ff86, transparent);
    border-radius: 8px;
    padding-right: 96px;
    display: flex;
    flex-direction: column;
    height: 256px;
    position: relative;
}

.profile-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--profile-header-cover);
    background-size: 50px;
    opacity: 0.2;
}

.profile-picture {
    align-self: center;
    margin-bottom: -72px;
    width: 210px;
    height: 210px;
    min-height: 256px;
    min-width: 256px;
    border-radius: 100%;
    overflow: clip;
    position: relative;
    box-shadow: 0 2px 6px 0 #00000059;
    border: 1px solid gray;
    background-color: #fff;
    cursor: pointer;
    transition: 0.2s background-color;
}

.profile-picture>button {
    opacity: 0;
    transition: 0.2s all;
}

.profile-picture:focus-within,
.profile-picture:hover {
    background-color: #969696;
}

.profile-picture:focus-within>button,
.profile-picture:hover>button {
    opacity: 1;
}

.profile-picture:focus-within>img,
.profile-picture:hover>img {
    opacity: 0.6;
}

.profile-picture>button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    text-align: center;
    display: flex;
    border-radius: 4px;
    align-items: center;
    cursor: pointer;
}

.profile-picture>img {
    width: 100%;
    height: 100%;
    transition: 0.2s opacity;
}

.profile-username {
    opacity: 0.8;
    letter-spacing: 0.1em;
    text-align: center;
    flex-grow: 1;
}

.profile-background-section {
    position: absolute;
    right: 16px;
    bottom: -30px;
    height: 78px;
    padding: 0 8px;
    border-radius: 8px;
    background-color: #ffffff4a;
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.profile-background-section>input[type="button"] {
    width: 48px;
    height: 48px;
    box-shadow: 0 2px 6px 0 #00000059;
    border: 1px solid gray;
    border-radius: 48px;
    margin: 0;
    transition:
        0.2s border,
        0.2s filter;
}

.profile-background-section>input[type="button"]:hover {
    border: 2px solid var(--ui-input-hover);
    filter: brightness(1.2);
}

.profile-biography-section {
    position: relative;
}

.profile-biography-section>button {
    bottom: -4px;
    right: 8px;
    position: absolute;
}

.profile-biography {
    resize: none;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 96px;
    font-size: 20px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 8px;
}

.profile-stat-section {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.profile-stat {
    background: var(--ui-input);
    padding: 2px;
    width: 92px;
    display: inline-block;
    border-radius: 32px;
    border: 1px solid #d3d3d3;
    margin-right: 8px;
    text-align: center;
}

@media screen and (width <=640px) {
    .profile-picture {
        min-width: 200px;
        min-height: 200px;
        margin-bottom: -56px;
    }

    .profile-background-section>legend {
        min-width: 0;
        width: 48px;
        font-size: 12px;
    }

    .profile-background-section {
        height: max-content;
        width: 64px;
        right: 2px;
        padding-top: 4px;
        padding-bottom: 4px;
        flex-direction: column;
    }
}

@media screen and (orientation: portrait) {
    .modal-content-container {
        flex-direction: column;
    }

    .modal-content-side {
        width: 100%;
    }

    .main-menu-field {
        width: calc(100% - 16px);
    }

    .profile-content {
        width: calc(100% - 16px);
    }
}